<h2>誕生日を入力してね</h2>

<!-- エラーメッセージを表示 -->


<!--入力フォームと送信-->
<%= form_tag("/submit") do %>
    <div class="form">
        <div class="form-body">
            <input type="date" name="birth_day" min="1911-01-01" max="<%= Date.today.strftime('%Y-%m-%d') %>" >
            <input type="submit" value="これが私の誕生日！">
        </div>
    </div>
<% end %>