<h1>Baby Checker</h1>

<h2>あなたが<br><span>赤ちゃん</span><br>なのかどうか診断します。</h2>
<p>あなたの誕生日を入力してください。</p>

<%= form_tag("answer") do %>
    <input type="date" name="bday">
    <input type="submit" value="この誕生日で診断！">
<% end %>